.container {
    margin: auto;
    max-width: 100%; 
    text-align: center;
}

.aqi-container {
    border: 3px solid;
    border-radius: 10px;
    width: 41%; 
    margin: 10px;
    text-align: center;
    padding: 10px;
    display: inline-block;
}

.aqi {
    font-size: 5em;
    font-weight: bold;
}

.pm-label {
    font-style: italic;
}

.time {
    text-align: center;
}

h2 {
  text-align: center;
}

body {
    font-size: 2em;
    margin: 0;
}
